/* Sidebar 1 */

#ordNav{
    color: var(--ordinal-navigation-text-color);
}
#markupNav{
    color: var(--markup-navigation-text-color);
}
#boostNav{
    display: none;
    color: var(--boosters-navigation-text-color);
}
#collapseNav{
    display: none;
    color: var(--collapse-navigation-text-color);
}
#obliterateNav{
    display: none;
    color: var(--obliteration-navigation-text-color);
}
#achNav{
    color: var(--achievement-navigation-text-color);
}
#settingsNav{
    color: var(--setting-navigation-text-color);
}

/* Sidebar 2 */

#factorShiftButton{
    width: 100%;
    height: 3rem;
    color: var(--factor-shift-button-default-text-color);
}

#factorBoostButton{
    color: var(--factor-boost-button-default-text-color)
}

#collapseButton{
    color: var(--collapse-button-default-text-color);
}

#obliterateButton{
    color: var(--obliterate-button-default-text-color);
}

#header{
    height: 4rem;
    color: var(--universal-exit-button-text-color);
}

@media (min-width: 961px) {
    #sidebar0{
        width: 11rem;
        height: 21rem;
    }

    #sidebar1{
        width: 20rem;
        height: 12rem;
    }
}