.flexBox {
    display: flex;
    align-items: center;
    place-content:center;
    flex-wrap: wrap;
}
.generalTexts{
    color: white;
    font-family: DosisLight;
}
.centeredTexts{
    color: white;
    font-family: DosisLight;
    text-align: center;
}
.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
.layer{
    position: absolute;
}
.ordButtons{
    width: 15rem;
    height: 2rem;
    border: 2px solid #610000;
    margin-top: 0.3rem;
    color: indianred;
    background: black;
}
.automation{
    width: 15rem;
    min-height: 2rem;
    border: 2px solid #9e6911;
    color: rgba(205, 160, 92, 1);
    background: black;
    margin-left: 0.5rem;
}
.factor{
    width: 15rem;
    min-height: 2rem;
    border: 2px solid #9e6911;
    color: rgba(205, 160, 92, 1);
    background: black;
    margin-top: 0.3rem;
}
.iFactor{
    width: 15rem;
    min-height: 2rem;
    border: 2px solid #836838;
    color: rgb(222, 182, 99);
    background: black;
    margin-top: 0.3rem;
}
.bup{
    width: 13rem;
    height: 6rem;
    border: 2px solid #0000ff;
    color: #8080FF;
    background: black;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.chargedBUP{
    width: 13rem;
    height: 6rem;
    border: 2px solid goldenrod;
    color: goldenrod;
    background: black;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.iup{
    width: 15rem;
    height: 5.5rem;
    border: 2px solid #6e3c9f;
    color: #8080FF;
    background: black;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
#chargeButton{
    width: 15rem;
    height: 5.5rem;
    border: 2px solid #5d5da1;
    color: goldenrod;
    background: black;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.automationText{
    color: white;
    font-family: DosisLight;
}
.automation0{
    margin-top: 1rem;
    width: 10rem;
    min-height: 2rem;
    border: 2px solid #0000ff;
    color: #8080FF;
    background: black;
    margin-left: 0.5rem;
}
.automation1{
    margin-top: 1rem;
    width: 10rem;
    min-height: 2rem;
    border: 2px solid #0000ff;
    color: #8080FF;
    background: black;
    margin-left: 0.5rem;
}
.automation2{
    margin-top: 1rem;
    width: 13rem;
    min-height: 2rem;
    border: 2px solid #2da000;
    color: #20da45;
    background: black;
    margin-left: 0.5rem;
}
.challenge{
    width: 24rem;
    height: 12rem;
    border: 2px solid #0000ff;
    color: #8080FF;
    background: black;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.boostTopButton{
    width: 20rem;
    height: 1.5rem;
    border: 2px solid #0000ff;
    color: #8080FF;
    background: black;
    margin-top: 0.5rem;
}
.achievement{
    width: 7rem;
    height: 5rem;
    border: 1px solid #464646;
    background: #151515;
    margin-left: 0.5rem;
    margin-top: 0.3rem;
    color: #9d5700;
}
.hierarchyContainer{
    min-width: 50%;
    margin-top: 1rem;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.hierarchies{
    font-family: DosisLight;
    font-size: 2rem;
    color: #8080FF;
}
.hb0{
    width: 15rem;
    height: 7rem;
    border: 2px solid #4000ff;
    color: #8080FF;
    background: black;
    margin-top: 0.5rem;
    margin-left: 2rem;
    margin-right: 0.25rem;
}
.hb1{
    width: 15rem;
    height: 7rem;
    border: 2px solid #4000ff;
    color: #8080FF;
    background: black;
    margin-top: 0.5rem;
    margin-right: 2rem;
    margin-left: 0.25rem;
}
.hup{
    width: 17rem;
    height: 7rem;
    border: 2px solid #631d89;
    color: #a680ff;
    background: black;
}
.bpEffectContainer{
    margin-top: 0.3rem;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.overflowText{
    color: white;
    font-family: DosisSemiBold;
}
.tabButton{
    width: 7rem;
    height: 1.5rem;
    margin-left: 0.3rem;
    background: black;
    border: 2px solid;
}
.collapseTabButton{
    width: 9rem;
    height: 1.5rem;
    margin-left: 0.3rem;
    background: black;
    border: 2px solid #2da000;
    color: #20da45;
}
.alephText{
    color: white;
    font-family: DosisLight;
    text-align: center;
}
.cupRow{
    display: flex;
    align-items: center;
    place-content:center;
    flex-direction: row;
    flex-wrap: wrap;
}
.cupContainer{
    display: flex;
    align-items: center;
    place-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.cup{
    width: 15rem;
    height: 6rem;
    border: 2px solid #2da000;
    color: #20da45;
    background: black;
    margin-left: 0.5rem;
    margin-top: 1rem;
}
.drain{
    width: 15rem;
    height: 4rem;
    border: 2px solid #8000ff4d;
    color: #9f9fcce1;
    background: black;
    margin-left: 0.5rem;
}
#drainReset{
    width: 15rem;
    height: 6rem;
    border: 2px solid #8000ff4d;
    color: #9f9fcce1;
    background: black;
    margin-left: 0.5rem;
    margin-top: 1rem;
}
.sluggish{
    width: 50rem;
    height: 4.8rem;
    border: 1px solid #154b00;
    color: #0f9329;
    background: black;
    margin-top: 0.5rem;
}
#darken{
    width: 25rem;
    height: 4rem;
    border: 2px solid #8000ff4d;
    color: #9f9fcce1;
    background: rgb(18 1 26);
    margin-top: 1rem;
    margin-left: 0.5rem;
}
#instability{
    width: 10rem;
    height: 4rem;
    border: 2px solid #8000ff4d;
    color: #9f9fcce1;
    background: rgb(18 1 26);
    margin-top: 1rem;
    margin-left: 0.5rem;
}
.chargeSac{
    width: 25rem;
    height: 5rem;
    border: 2px solid #8000ff4d;
    color: #9f9fcce1;
    background: rgb(18 1 26);
    margin-top: 1rem;
    margin-left: 0.5rem;
}
.dup{
    width: 17rem;
    height: 6rem;
    border: 2px solid #8000ff4d;
    color: #9f9fcce1;
    background: black;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.dupControl{
    width: 10rem;
    height: 5rem;
    border: 2px solid #8000ff4d;
    color: #9f9fcce1;
    background: black;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.instabilityPringle{
    width: 2rem;
    height: 2rem;
    border-radius: 75%;
    background: black;
    border: 2px solid white;
    margin-top: 0.25rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    color: white;
    place-content: center;
    box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
}
.singControl{
    width: 12rem;
    height: 3rem;
    border: 1px solid #2da000;
    color: #2da000;
    background: black;
    font-size: 0.75rem;
}
.singFunction{
    color: darkgray;
    font-family: DosisLight;
    text-align: center;
}
#baseless{
    width: 25rem;
    height: 10rem;
    border: 2px solid #6d3d00;
    color: #ae6610;
    background: black;
    margin-top: 0.5rem;
    font-family: DosisSemiBold;
}
.anRebuyable{
    width: 16rem;
    height: 9rem;
    border: 2px solid #6d3d00;
    color: #ae7710;
    background: black;
    margin-left: 0.25rem;
    margin-right: 0.25rem
}
.purification{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 20rem;
    height: 10rem;
    color: white;
    background: black;
    border: 2px solid #670000;
}
.aoRow{
    display: flex;
    align-items: center;
    place-content:center;
    margin-top: 1rem;
    flex-wrap: wrap;
}
.aoRebuyable{
    width: 21rem;
    height: 7rem;
    border: 2px solid #650000;
    color: #ce0b0b;
    background: black;
    margin-left: 0.25rem;
    margin-right: 0.25rem
}
.aoMilestone{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 30rem;
    height: 5rem;    box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;

    border: 2px solid #4b001a;
    color: #940525;
    background: black;
}
.obliterateTabButton{
    width: 8rem;
    height: 1.5rem;
    margin-left: 0.3rem;
    background: black;
    border: 2px solid #6b00a0;
    color: #b06cdc;
}
.passiveUpgrade{
    color: gray;
    border: 2px solid #6b3a9f;
    background: black;
    margin-top: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    width: 15rem;
    height: 6rem;
}
.pringle{
    width: 2rem;
    height: 2rem;
    border-radius: 75%;
    background: black;
    border: 2px solid white;
    color: white;
    text-align: center;
}
.purityPringle{
    width: 2rem;
    height: 2rem;
    border-radius: 75%;
    background: black;
    border: 2px solid white;
    margin-top: 1rem;
    text-align: center;
    color: white;
    place-content: center;
}
.purityPoint{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 2px solid #5b5b5b;
    background: black;
    text-align: center;
    color: white;
}
.purityBar{
    width: 16rem;
    height: 30rem;
    border: 2px solid #5b5b5b;
    color: white;
}
.unstableFactor{
    width: 14rem;
    height: 8rem;
    border: 2px solid #2d2746;
    color: #614cb9;
    background: black;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.progressBar{
    width: 7rem;
    height: 20rem;
    background-color: black;
    border-radius: 10px;
    text-align: center;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
    position: relative;
}
.progress{
    border-radius: 6px;
    width: 7rem;
    height: 0%;
    text-align: center;
    position:absolute;
    bottom:0px;
}
.settingsButton{
    width: 10rem;
    min-height: 1.5rem;
    margin-top: 0.5rem;
    color: darkgray;
    background: black;
    border: 2px solid rgb(128, 128, 128);
}
#ordinal {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 50vw;
    display: inline-block;
    position: relative;
    left: 0;
}

#ordinalContainer {
    text-align: left;
    margin-left: 25vw;
    white-space: nowrap;
}