.flexBox {
    display: flex;
    align-items: center;
    place-content:center;
    flex-wrap: wrap;
}
.generalTexts{
    color: white;
}
.centeredTexts{
    color: white;
    text-align: center;
    font-family: DosisLight, serif;
}
.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
.layer{
    position: absolute;
}
.tab{
    flex-direction: column;
    display: none;
}
.noGap{
    line-height: 1;
}
.markupTabButton{
    width: 8rem;
    height: 1.5rem;
    margin-left: 0.3rem;
    background: var(--markup-tab-background-color);
    border: 2px solid var(--markup-tab-border-color);
    color: var(--markup-tab-text-color);
}
.ordButtons{
    width: 15rem;
    height: 2rem;
    border: 2px solid var(--ordinal-button-border-color);
    margin-top: 0.3rem;
    color: var(--ordinal-button-text-color);
    background: var(--ordinal-button-background-color);
}
.automation{
    width: 15rem;
    min-height: 2rem;
    border: 2px solid var(--autoclicker-border-color);
    color: var(--autoclicker-text-color);
    background: var(--autoclicker-background-color);
    margin-left: 0.5rem;
}
.factor{
    width: 15rem;
    min-height: 2rem;
    border: 2px solid var(--factor-border-color);
    color: var(--factor-text-color);
    background: var(--factor-background-color);
    margin-top: 0.3rem;
}

.boostTabButton{
    width: 8rem;
    height: 1.5rem;
    margin-left: 0.3rem;
    background: var(--boost-tab-background-color);
    border: 2px solid var(--boost-tab-border-color);
    color: var(--boost-tab-text-color);
}
.bup{
    width: 13rem;
    height: 6rem;
    border: 2px solid var(--unbought-BUP-border-color);
    color: var(--unbought-BUP-text-color);
    background: var(--unbought-BUP-background-color);
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.boughtBUP{
    width: 13rem;
    height: 6rem;
    border: 2px solid var(--bought-BUP-border-color);
    color: var(--bought-BUP-text-color);
    background: var(--bought-BUP-background-color);
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.chargedBUP{
    width: 13rem;
    height: 6rem;
    border: 2px solid var(--charged-BUP-border-color);
    color: var(--charged-BUP-text-color);
    background: var(--charged-BUP-background-color);
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.iup{
    width: 15rem;
    height: 5.5rem;
    border: 2px solid var(--unbought-IUP-border-color);
    color: var(--unbought-IUP-text-color);
    background: var(--unbought-IUP-background-color);
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.boughtIUP{
    width: 15rem;
    height: 5.5rem;
    border: 2px solid var(--bought-IUP-border-color);
    color: var(--bought-IUP-text-color);
    background: var(--bought-IUP-background-color);
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.rebuyableIUP{
    width: 15rem;
    height: 5.5rem;
    border: 2px solid var(--rebuyable-IUP-border-color);
    color: var(--rebuyable-IUP-text-color);
    background: var(--rebuyable-IUP-background-color);
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.automation0{
    margin-top: 1rem;
    width: 10rem;
    min-height: 2rem;
    border: 2px solid var(--autobuyer-border-color);
    color: var(--autobuyer-rate-text-color);
    background: var(--autobuyer-background-color);
    margin-left: 0.5rem;
}
.automation1{
    margin-top: 1rem;
    width: 10rem;
    min-height: 2rem;
    border: 2px solid var(--autobuyer-border-color);
    color: var(--autobuyer-rate-text-color);
    background: var(--autobuyer-background-color);
    margin-left: 0.5rem;
}
.automation2{
    margin-top: 1rem;
    width: 13rem;
    min-height: 2rem;
    border: 2px solid var(--autoprestiger-border-color);
    color: var(--autoprestiger-rate-text-color);
    background: var(--autoprestiger-background-color);
    margin-left: 0.5rem;
}
.realmAutomation{
    margin-top: 1rem;
    width: 10rem;
    min-height: 2rem;
    border: 2px solid var(--realm-autobuyer-border-color);
    color: var(--realm-autobuyer-name-text-color);
    background: var(--realm-autobuyer-background-color);
    margin-left: 0.5rem;
}
.automationText{
    color: var(--automation-text-neutral-color);
}
.challenge{
    width: 20rem;
    height: 12rem;
    border: 2px solid var(--incomplete-challenge-border-color);
    color: var(--incomplete-challenge-text-color);
    background: var(--incomplete-challenge-background-color);
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.completeChallenge{
    width: 20rem;
    height: 12rem;
    border: 2px solid var(--complete-challenge-border-color);
    color: var(--complete-challenge-text-color);
    background: var(--complete-challenge-background-color);
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.activeChallenge{
    width: 20rem;
    height: 12rem;
    border: 2px solid var(--active-challenge-border-color);
    color: var(--active-challenge-text-color);
    background: var(--active-challenge-background-color);
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.achievement{
    width: 7rem;
    height: 5rem;
    border: 1px solid var(--incomplete-achievement-border-color);
    background: var(--incomplete-achievement-background-color);
    margin-left: 0.5rem;
    margin-top: 0.3rem;
    color: var(--incomplete-achievement-text-color);
}
.completeAchievement{
    width: 7rem;
    height: 5rem;
    border: 1px solid var(--complete-achievement-border-color);
    background: var(--complete-achievement-background-color);
    margin-left: 0.5rem;
    margin-top: 0.3rem;
    color: var(--complete-achievement-text-color);
}
.hierarchyContainer{
    min-width: 50%;
    margin-top: 1rem;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.hierarchies{
    font-size: 2rem;
    color: var(--hierarchy-text-color);
}
.hb0{
    width: 15rem;
    height: 7rem;
    border: 2px solid var(--hierarchy-buyable-border-color);
    color: var(--hierachy-buyable-text-color);
    background: var(--hierarchy-buyable-background-color);
    margin-top: 0.5rem;
    margin-left: 1.25rem;
    margin-right: 0;
}
.hb1{
    width: 15rem;
    height: 7rem;
    border: 2px solid var(--hierarchy-buyable-border-color);
    color: var(--hierachy-buyable-text-color);
    background: var(--hierarchy-buyable-background-color);
    margin-top: 0.5rem;
    margin-right: 1.25rem;
    border-left: 0;
}
.hup{
    width: 15rem;
    height: 6rem;
    border: 2px solid var(--hierarchy-milestone-border-color);
    color: var(--hierarchy-milestone-text-color);
    background: var(--hierarchy-milestone-background-color);
}
.bpEffectContainer{
    margin-top: 0.3rem;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.primaryOverflowText{
    color: var(--booster-power-effect-text-primary-color);
}
.primaryOverchargeText{
    color: var(--overcharge-effect-text-primary-color);
}
.overflowText{
    color: var(--booster-power-effect-text-secondary-color);
    font-family: DosisSemiBold, serif;
}
.overchargeText{
    color: var(--overcharge-effect-text-secondary-color);
    font-family: DosisSemiBold, serif;
}

/* TODO: Generic */
.prestigeButton{
    border: none;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    background: black;
    width: 100%;
    height: 3rem;
}
.prestigeButton:hover{
    background: #222222;
}

.tabButton{
    width: 100%;
    height: 3rem;
    position: relative;
    overflow: hidden;
    background: black;
    border: none;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    color: white;
}
.tabButton:hover{
    background: #222222;
}

.collapseTabButton{
    width: 8rem;
    height: 1.5rem;
    margin-left: 0.3rem;
    background: var(--collapse-tab-background-color);
    border: 2px solid var(--collapse-tab-border-color);
    color: var(--collapse-tab-text-color);
}
.collapseTabButton:hover{
    background: #222222;
}

.alephTotalColorized{
    color: var(--aleph-total-text-secondary-color);
}
.alephText{
    color: var(--aleph-text-primary-color);
    text-align: center;
}
.cupRow{
    display: flex;
    align-items: center;
    place-content:center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.cupContainer{
    display: flex;
    align-items: center;
    place-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.cup{
    width: 15rem;
    height: 6rem;
    border: 2px solid var(--unbought-CUP-border-color);
    color: var(--unbought-CUP-text-color);
    background: var(--unbought-CUP-background-color);
    margin-left: 0.5rem;
}
.boughtCUP{
    width: 15rem;
    height: 6rem;
    border: 2px solid var(--bought-CUP-border-color);
    color: var(--bought-CUP-text-color);
    background: var(--bought-CUP-background-color);
    margin-left: 0.5rem;
}
.drain{
    width: 15rem;
    height: 4rem;
    border: 2px solid var(--drain-border-color);
    color: var(--drain-text-color);
    background: var(--drain-background-color);
    margin-left: 0.5rem;
}
.sluggish{
    width: 50rem;
    height: 4.8rem;
    border: 1px solid var(--incomplete-sluggish-milestone-border-color);
    color: var(--incomplete-sluggish-milestone-text-color);
    background: var(--incomplete-sluggish-milestone-background-color);
    margin-bottom: 0.5rem;
}
.completeSluggish{
    width: 50rem;
    height: 4.8rem;
    border: 1px solid var(--complete-sluggish-milestone-border-color);
    color: var(--complete-sluggish-milestone-text-color);
    background: var(--complete-sluggish-milestone-background-color);
    margin-bottom: 0.5rem;
}
.darknessButton{
    width: 20rem;
    height: 5rem;
    border: 2px solid var(--darkness-button-border-color);
    color: var(--darkness-button-text-color);
    background: var(--darkness-button-background-color);
}
.depthButton{
    width: 10rem;
    height: 1.5rem;
    border: 2px solid var(--depth-border-color);
    color: var(--depth-text-color);
    background: var(--depth-background-color);
    margin: 0.5rem;
}
.dup{
    width: 17rem;
    height: 6rem;
    border: 2px solid var(--dup-border-color);
    color: var(--dup-text-color);
    background: var(--dup-background-color);
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.dupControl{
    width: 10rem;
    height: 5rem;
    border: 2px solid var(--darkness-control-border-color);
    color: var(--darkness-control-text-color);
    background: var(--darkness-control-background-color);
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.unboughtHypercharge {
    width: 12rem;
    height: 7rem;
    background-color: black;
    border: 2px solid var(--unbought-hypercharge-border-color);
    color: var(--unbought-hypercharge-text-color);
    font-family: DosisLight, serif;
    margin: 1rem;
}
.boughtHypercharge {
    width: 12rem;
    height: 7rem;
    background-color: var(--bought-hypercharge-background-color);
    border: 2px solid var(--bought-hypercharge-border-color);
    color: var(--bought-hypercharge-text-color);
    font-family: DosisLight, serif;
    margin: 1rem;
}
.secondaryHypercharge {
    width: 12rem;
    height: 7rem;
    background-color: var(--secondary-hypercharge-background-color);
    border: 2px solid var(--secondary-hypercharge-border-color);
    color: var(--secondary-hypercharge-text-color);
    font-family: DosisLight, serif;
    margin: 1rem;
}
.stableHypercharge {
    width: 12rem;
    height: 7rem;
    background-color: var(--stable-hypercharge-background-color);
    border: 2px solid var(--stable-hypercharge-border-color);
    color: var(--stable-hypercharge-text-color);
    font-family: DosisLight, serif;
    margin: 1rem;
}
.hyperChargeQOL{
    width: 9rem;
    height: 6rem;
    border: 2px solid var(--unlocked-passive-hypercharge-border-color);
    color: var(--unlocked-passive-hypercharge-text-color);
    background-color: var(--unlocked-passive-hypercharge-background-color);
    font-family: DosisLight, serif;
    margin: 1rem;
}
.lockedHyperChargeQOL{
    width: 9rem;
    height: 6rem;
    border: 2px solid var(--locked-passive-hypercharge-border-color);
    color: var(--locked-passive-hypercharge-text-color);
    background-color: var(--locked-passive-hypercharge-background-color);
    font-family: DosisLight, serif;
    margin: 1rem;
}
.hyperChargeRespec{
    width: 9rem;
    height: 6rem;
    background-color: var(--hypercharge-respec-background-color);
    border: 2px solid var(--hypercharge-respec-border-color);
    color: var(--hypercharge-respec-text-color);
    font-family: DosisLight, serif;
    margin: 0;
}
.hyperChargeLine {
    height: 1px;
    background-color: var(--hypercharge-row-line-color);
    width: calc(100% - 0.5rem);
    margin-left: 0.5rem;
}
.hyperChargeRequirement{
    position: absolute;
    bottom: 0;
    left: 0.5rem;
    color: var(--hypercharge-charge-row-requirement-text-color);
    font-family: DosisLight, serif;
}
.lockedHyperChargeRequirement{
    position: absolute;
    bottom: 0;
    left: 0.5rem;
    color: var(--locked-hypercharge-charge-row-requirement-text-color);
    font-family: DosisLight, serif;
}

.metaANR{
    width: 22rem;
    height: 6rem;
    border: 2px solid var(--top-row-aleph-null-buyable-border-color);
    color: var(--top-row-aleph-null-buyable-text-color);
    background: var(--top-row-aleph-null-buyable-background-color);
    margin-left: 0.25rem;
    margin-right: 0.25rem
}
.normalANR{
    width: 15rem;
    height: 7rem;
    border: 2px solid var(--bottom-row-aleph-null-buyable-border-color);
    color: var(--bottom-row-aleph-null-buyable-text-color);
    background: var(--bottom-row-aleph-null-buyable-background-color);
    margin-left: 0.25rem;
    margin-right: 0.25rem
}
.purification{
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 20rem;
    height: 10rem;
    background: var(--inactive-purification-background-color);
    border: 2px solid var(--inactive-purification-border-color);
}
.activePurification{
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 20rem;
    height: 10rem;
    background: var(--active-purification-background-color);
    border: 2px solid var(--active-purification-border-color);
}
.aoRow{
    display: flex;
    align-items: center;
    place-content:center;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}
.aoRebuyable{
    width: 15rem;
    height: 7rem;
    border: 2px solid var(--aleph-omega-buyable-border-color);
    color: var(--aleph-omega-buyable-primary-text-color);
    background: var(--aleph-omega-buyable-background-color);
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
.aoMilestone{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    width: 28rem;
    height: 5rem;
    box-shadow: rgba(0,0,0,0.2) 0 2px 3px, inset rgba(0,0,0,0.2) 0 -1px 2px;
    border: 2px solid var(--locked-beth-omega-milestone-border-color);
    color: var(--locked-beth-omega-milestone-text-color);
    background: var(--locked-beth-omega-milestone-background-color);
}
.unlockedAOMilestone{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    width: 28rem;
    height: 5rem;
    box-shadow: rgba(0,0,0,0.2) 0 2px 3px, inset rgba(0,0,0,0.2) 0 -1px 2px;
    border: 2px solid var(--unlocked-beth-omega-milestone-border-color);
    color: var(--unlocked-beth-omega-milestone-text-color);
    background: var(--unlocked-beth-omega-milestone-background-color);
}
.obliterateTabButton{
    width: 9rem;
    height: 1.5rem;
    margin-left: 0.3rem;
    background: var(--obliteration-tab-background-color);
    border: 2px solid var(--obliteration-tab-border-color);
    color: var(--obliteration-tab-color);
}
.obliterateTabButton:hover{
    background: #222222;
}
.passiveUpgrade{
    border: 2px solid var(--passive-energy-upgrade-border-color);
    color: var(--passive-energy-upgrade-text-color);
    background: var(--passive-energy-upgrade-background-color);
    margin-top: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    width: 12rem;
    height: 6rem;
}
.boughtPassiveUpgrade{
    border: 2px solid var(--bought-passive-energy-upgrade-border-color);
    color: var(--bought-passive-energy-upgrade-text-color);
    background: var(--bought-passive-energy-upgrade-background-color);
    margin-top: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    width: 12rem;
    height: 6rem;
}
.colorlessPassiveUpgrade{
    margin-top: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    width: 12rem;
    height: 6rem;
}
.peupColorized2{
    color: var(--passive-energy-help-text-passive-energy-color);
}

.pringle{
    width: 2rem;
    height: 2rem;
    border-radius: 75%;
    background: var(--pringle-background-color);
    color: white;
    text-align: center;
}
.purityPringle{
    width: 2rem;
    height: 2rem;
    border-radius: 75%;
    background: var(--pringle-background-color);
    margin-top: 1rem;
    text-align: center;
    color: white;
    place-content: center;
}
.purityPoint{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 2px solid #5b5b5b;
    background: var(--unassigned-purity-point-background-color);
    text-align: center;
    color: white;
}
.purityBar{
    width: 16rem;
    height: 30rem;
    border: 2px solid #5b5b5b;
}

.stability{
    width: 22rem;
    height: 12rem;
    border: 2px solid var(--stable-energy-button-border-color);
    color: var(--stable-energy-description-text-color);
    background: var(--stable-energy-button-background-color);
    margin: 1rem 1rem 0;
    border-radius: 10px 10px 0 0;
}
.stabilityRespec{
    width: 22rem;
    height: 5rem;
    border: 2px solid var(--stable-energy-respec-border-color);
    color: var(--stable-energy-respec-text-color);
    background: var(--stable-energy-respec-background-color);
    margin: 0 1rem 1rem;
    border-top: 0;
    border-radius: 0 0 10px 10px;
}
.rBup{
    width: 13rem;
    height: 6rem;
    border: 2px solid var(--unbought-realm-BUP-border-color);
    color: var(--unbought-realm-BUP-text-color);
    background: var(--unbought-realm-BUP-background-color);
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.boughtRBup{
    width: 13rem;
    height: 6rem;
    border: 2px solid var(--bought-realm-BUP-border-color);
    color: var(--bought-realm-BUP-text-color);
    background: var(--bought-realm-BUP-background-color);
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.rBu{
    width: 15rem;
    height: 6rem;
    border: 2px solid var(--unbought-realm-BUP-border-color);
    color: var(--unbought-realm-BUP-text-color);
    background: var(--unbought-realm-BUP-background-color);
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.unlockedRBu{
    width: 15rem;
    height: 6rem;
    border: 2px solid var(--bought-realm-BUP-border-color);
    color: var(--bought-realm-BUP-text-color);
    background: var(--bought-realm-BUP-background-color);
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.rBoostTopButton{
    width: 20rem;
    height: 1.5rem;
    border: 2px solid var(--realm-BUP-refund-border-color);
    color: var(--realm-BUP-refund-text-color);
    background: var(--realm-BUP-refund-background-color);
    margin-top: 0.5rem;
}
.realmChallenge{
    width: 25rem;
    height: 12rem;
    border: 2px solid var(--incomplete-realm-challenge-border-color);
    color: var(--incomplete-realm-challenge-text-color);
    background: var(--incomplete-realm-challenge-background-color);
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.completedRealmChallenge{
    width: 25rem;
    height: 12rem;
    border: 2px solid var(--complete-realm-challenge-border-color);
    color: var(--complete-realm-challenge-text-color);
    background-color: var(--complete-realm-challenge-background-color);
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.inRealmChallenge{
    width: 25rem;
    height: 12rem;
    border: 2px solid var(--active-realm-challenge-border-color);
    color: var(--active-realm-challenge-text-color);
    background: var(--active-realm-challenge-background-color);
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.rIUP{
    width: 17rem;
    height: 5.5rem;
    border: 2px solid var(--unbought-realm-IUP-border-color);
    color: var(--unbought-realm-IUP-text-color);
    background: var(--unbought-realm-IUP-background-color);
    margin-top: 0.5rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}
.boughtRIUP{
    width: 17rem;
    height: 5.5rem;
    border: 2px solid var(--bought-realm-IUP-border-color);
    color: var(--bought-realm-IUP-text-color);
    background: var(--bought-realm-IUP-background-color);
    margin-top: 0.5rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}
.rebuyableRIUP{
    width: 17rem;
    height: 5.5rem;
    border: 2px solid var(--rebuyable-realm-IUP-border-color);
    color: var(--rebuyable-realm-IUP-text-color);
    background: var(--rebuyable-realm-IUP-background-color);
    margin-top: 0.5rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
}
.rHierarchy{
    font-family: DosisLight, sans-serif;
    font-size: 2rem;
    color: var(--realm-hierarchy-text-color);
}
.growthUpgrade{
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    width: 17rem;
    height: 7rem;
    border: 2px solid var(--growth-upgrade-border-color);
    color: var(--growth-upgrade-text-color);
    background: var(--growth-upgrade-background-color);
}
.growthInput{
    width: 2rem;
    height: 1rem;
    background: var(--growth-input-background-color);
    border: 1px solid var(--growth-input-border-color);
    color: var(--growth-input-text-color);
}
.rHUP{
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    width: 15rem;
    height: 6rem;
    border: 2px solid var(--realm-HUP-border-color);
    color: var(--realm-HUP-text-color);
    background: var(--realm-HUP-background-color);
}
.realmTabButton{
    width: 9rem;
    height: 1.5rem;
    margin-left: 0.3rem;
    background: var(--realm-tab-background-color);
    border: 2px solid var(--realm-tab-border-color);
    color: var(--realm-tab-text-color);
}
.realmTabButton:hover{
    background: #222222;
}

.setting{
    width: 20rem;
    height: 3rem;
    margin-top: 0.5rem;
    color: var(--setting-text-color);
    background: black;
    border: 2px solid var(--setting-tab-border-color);
}
.themeSetting{
    width: 15rem;
    height: 3.5rem;
    margin-top: 0.5rem;
    color: var(--setting-text-color);
    background: black;
    border: 2px solid var(--setting-tab-border-color);
}
.saveControl{
    width: 20rem;
    height: 3.2rem;
    color: var(--setting-text-color);
    background: black;
    border: 2px solid var(--setting-tab-border-color);
    border-top: none;
}
.settingsTabButton{
    width: 9rem;
    height: 1.5rem;
    margin-top: 0.5rem;
    color: var(--setting-tab-text-color);
    background: black;
    border: 2px solid var(--setting-border-color);
}
.settingsTabButton:hover{
    background: #222222;
}
.themeTexts{
    color: white;
    font-family: DosisLight, serif;
    margin-right: 0.5rem;
}
.themeButton{
    width: 2rem;
    height: 1rem;
    border: 2px solid;
}
.savedThemeWrapper{
    position: relative;
    display: inline-block;
}
.savedTheme{
    width: 19rem;
    height: 3.5rem;
    margin-top: 0.5rem;
    color: var(--setting-text-color);
    background: black;
    border: 2px solid var(--setting-border-color);
}
.exportThemeButton{
    position: absolute;
    bottom: 0.25rem;
    left: 0.25rem;
    width: 1rem;
    height: 1rem;
    border: none;
    cursor: pointer;
}
.importThemeButton{
    position: absolute;
    bottom: 0.25rem;
    left: 1.5rem;
    width: 1rem;
    height: 1rem;
    border: none;
    cursor: pointer;
}
.savedThemeReset{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4rem;
    height: 1.25rem;
    color: var(--setting-text-color);
    background: black;
    border: 2px solid var(--setting-border-color);
    border-top-left-radius: 12%;
}

#settingsNav{
    border-bottom-right-radius: 16px
}

#header{
    border-bottom-left-radius: 16px;
}

/* NOTE: From here to end is exempt from themes. */
.maxMinButton{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 25px;
    background: black;
    border: 2px solid gray;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    display: none;
}

#maximizeButton{
    margin-left: 55%;
    margin-bottom: 3rem;
}

.cloudButton{
    width: 11.1rem;
    height: 6rem;
    background: black;
    border: 2px solid #7e6085;
    color: #ae6cc5;
    text-align: center;
    place-content: center;
    font-family: DosisLight, serif;
    padding: 1rem;
    border-top: none;
}

.rainbow {
    --angle: 0deg;
    border: 2px solid;
    border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
    animation: 10s rotate linear infinite;
}