.flexBox {
    display: flex;
    align-items: center;
    place-content:center;
    flex-wrap: wrap;
}
.generalTexts{
    color: white;
}
.centeredTexts{
    color: white;
    text-align: center;
}
.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
.layer{
    position: absolute;
}
.tab{
    flex-direction: column;
    display: none;

}
.ordButtons{
    width: 15rem;
    height: 2rem;
    border: 2px solid #610000;
    margin-top: 0.3rem;
    color: indianred;
    background: black;
}
.automation{
    width: 15rem;
    min-height: 2rem;
    border: 2px solid #9e6911;
    color: rgba(205, 160, 92, 1);
    background: black;
    margin-left: 0.5rem;
}
.factor{
    width: 15rem;
    min-height: 2rem;
    border: 2px solid #9e6911;
    color: rgba(205, 160, 92, 1);
    background: black;
    margin-top: 0.3rem;
}
.iFactor{
    width: 15rem;
    min-height: 2rem;
    border: 2px solid #836838;
    color: rgb(222, 182, 99);
    background: black;
    margin-top: 0.3rem;
}
.bup{
    width: 13rem;
    height: 6rem;
    border: 2px solid #1e47d0;
    color: #8080FF;
    background: black;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.chargedBUP{
    width: 13rem;
    height: 6rem;
    border: 2px solid #b27b14;
    color: goldenrod;
    background: black;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.iup{
    width: 15rem;
    height: 5.5rem;
    border: 2px solid #6e3c9f;
    color: #8080FF;
    background: black;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
#chargeButton{
    width: 15rem;
    height: 5.5rem;
    border: 2px solid #5d5da1;
    color: goldenrod;
    background: black;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.automationText{
    color: white;
}
.automation0{
    margin-top: 1rem;
    width: 10rem;
    min-height: 2rem;
    border: 2px solid #1e47d0;
    color: #8080FF;
    background: black;
    margin-left: 0.5rem;
}
.automation1{
    margin-top: 1rem;
    width: 10rem;
    min-height: 2rem;
    border: 2px solid #1e47d0;
    color: #8080FF;
    background: black;
    margin-left: 0.5rem;
}
.automation2{
    margin-top: 1rem;
    width: 13rem;
    min-height: 2rem;
    border: 2px solid #2da000;
    color: #20da45;
    background: black;
    margin-left: 0.5rem;
}
.challenge{
    width: 20rem;
    height: 12rem;
    border: 2px solid #1e47d0;
    color: #8080FF;
    background: black;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.boostTopButton{
    width: 20rem;
    height: 1.5rem;
    border: 2px solid #1e47d0;
    color: #8080FF;
    background: black;
    margin-top: 0.5rem;
}
.achievement{
    width: 7rem;
    height: 5rem;
    border: 1px solid #464646;
    background: #151515;
    margin-left: 0.5rem;
    margin-top: 0.3rem;
    color: #9d5700;
}
.hierarchyContainer{
    min-width: 50%;
    margin-top: 1rem;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.hierarchies{
    font-size: 2rem;
    color: #8080FF;
}
.hb0{
    width: 15rem;
    height: 7rem;
    border: 2px solid #414d78;
    color: #8080FF;
    background: black;
    margin-top: 0.5rem;
    margin-left: 1.25rem;
    margin-right: 0rem;
}
.hb1{
    width: 15rem;
    height: 7rem;
    border: 2px solid #414d78;
    color: #8080FF;
    background: black;
    margin-top: 0.5rem;
    margin-right: 1.25rem;
    border-left: 0;
}
.hup{
    width: 15rem;
    height: 6rem;
    border: 2px solid #631d89;
    color: #a680ff;
    background: black;
}
.bpEffectContainer{
    margin-top: 0.3rem;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.overflowText{
    color: white;
    font-family: DosisSemiBold, serif;
}

.prestigeButton{
    border: none;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    background: black;
    width: 100%;
    height: 3rem;
}
.prestigeButton:hover{
    background: #222222;
}

.tabButton{
    width: 100%;
    height: 3rem;
    position: relative;
    overflow: hidden;
    background: black;
    border: none;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    color: white;
    background: black;
}
.tabButton:hover{
    background: #222222;
}

.subTabButton{
    width: 9rem;
    height: 1.5rem;
    margin-left: 0.3rem;
    background: black;
    border: 2px solid;
}
.subTabButton:hover{
    background: #222222;
}

.collapseTabButton{
    width: 8rem;
    height: 1.5rem;
    margin-left: 0.3rem;
    background: black;
    border: 2px solid #2da000;
    color: #20da45;
}
.collapseTabButton:hover{
    background: #222222;
}
.alephText{
    color: white;
    text-align: center;
}
.cupRow{
    display: flex;
    align-items: center;
    place-content:center;
    flex-direction: row;
    flex-wrap: wrap;
}
.cupContainer{
    display: flex;
    align-items: center;
    place-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.cup{
    width: 15rem;
    height: 6rem;
    border: 2px solid #2da000;
    color: #20da45;
    background: black;
    margin-left: 0.5rem;
}
.drain{
    width: 15rem;
    height: 4rem;
    border: 2px solid #8000ff4d;
    color: #9f9fcce1;
    background: black;
    margin-left: 0.5rem;
}
#drainReset{
    width: 15rem;
    height: 6rem;
    border: 2px solid #8000ff4d;
    color: #9f9fcce1;
    background: black;
    margin-left: 0.5rem;
    margin-top: 1rem;
}
.sluggish{
    width: 50rem;
    height: 4.8rem;
    border: 1px solid #154b00;
    color: #0f9329;
    background: black;
    margin-bottom: 0.5rem;
}
#darken{
    width: 25rem;
    height: 4rem;
    border: 2px solid #8000ff4d;
    color: #9f9fcce1;
    background: rgb(18 1 26);
    margin-left: 0.5rem;
}
#instability{
    width: 10rem;
    height: 4rem;
    border: 2px solid #8000ff4d;
    color: #9f9fcce1;
    background: rgb(18 1 26);
    margin-top: 1rem;
    margin-left: 0.5rem;
}
.chargeSac{
    width: 25rem;
    height: 5rem;
    border: 2px solid #8000ff4d;
    color: #9f9fcce1;
    background: rgb(18 1 26);
    margin-top: 1rem;
    margin-left: 0.5rem;
}
.dup{
    width: 17rem;
    height: 6rem;
    border: 2px solid #8000ff4d;
    color: #9f9fcce1;
    background: black;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.dupControl{
    width: 10rem;
    height: 5rem;
    border: 2px solid #8000ff4d;
    color: #9f9fcce1;
    background: black;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}
.instabilityPringle{
    width: 2rem;
    height: 2rem;
    border-radius: 75%;
    background: black;
    border: 2px solid white;
    margin-top: 0.25rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    color: white;
    place-content: center;
    box-shadow: rgba(0,0,0,0.2) 0 2px 3px, inset rgba(0,0,0,0.2) 0 -1px 2px;
}
.singControl{
    width: 12rem;
    height: 3rem;
    border: 1px solid #2da000;
    color: #2da000;
    background: black;
    font-size: 0.75rem;
}
.singFunction{
    color: darkgray;
    text-align: center;
}
#baseless{
    width: 25rem;
    height: 10rem;
    border: 2px solid #6d3d00;
    color: #ae6610;
    background: black;
    margin-top: 0.5rem;
    font-family: DosisSemiBold, serif;
}
.anRebuyable{
    width: 16rem;
    height: 9rem;
    border: 2px solid #6d3d00;
    color: #ae7710;
    background: black;
    margin-left: 0.25rem;
    margin-right: 0.25rem
}
.purification{
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 20rem;
    height: 10rem;
    color: white;
    background: black;
    border: 2px solid #670000;
}
.aoRow{
    display: flex;
    align-items: center;
    place-content:center;
    flex-wrap: wrap;
}
.aoRebuyable{
    width: 15rem;
    height: 7rem;
    border: 2px solid #650000;
    color: #ce0b0b;
    background: black;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.5rem;
}
.aoMilestone{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    width: 28rem;
    height: 5rem;
    box-shadow: rgba(0,0,0,0.2) 0 2px 3px, inset rgba(0,0,0,0.2) 0 -1px 2px;
    border: 2px solid #4b001a;
    color: #940525;
    background: black;
}
.obliterateTabButton{
    width: 9rem;
    height: 1.5rem;
    margin-left: 0.3rem;
    background: black;
    border: 2px solid #6b00a0;
    color: #b06cdc;
}
.obliterateTabButton:hover{
    background: #222222;
}
.passiveUpgrade{
    color: gray;
    border: 2px solid #6b3a9f;
    background: black;
    margin-top: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    width: 15rem;
    height: 6rem;
}
.pringle{
    width: 2rem;
    height: 2rem;
    border-radius: 75%;
    background: black;
    border: 2px solid white;
    color: white;
    text-align: center;
}
.purityPringle{
    width: 2rem;
    height: 2rem;
    border-radius: 75%;
    background: black;
    border: 2px solid white;
    margin-top: 1rem;
    text-align: center;
    color: white;
    place-content: center;
}
.purityPoint{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 2px solid #5b5b5b;
    background: black;
    text-align: center;
    color: white;
}
.purityBar{
    width: 16rem;
    height: 30rem;
    border: 2px solid #5b5b5b;
    color: white;
}
.unstableFactor{
    width: 14rem;
    height: 8rem;
    border: 2px solid #2d2746;
    color: #614cb9;
    background: black;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.progressBar{
    width: 7rem;
    height: 20rem;
    background-color: black;
    border-radius: 10px;
    text-align: center;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
    position: relative;
}
.progress{
    border-radius: 6px;
    width: 7rem;
    text-align: center;
    position:absolute;
}
.settingsButton{
    width: 10rem;
    min-height: 1.5rem;
    margin-top: 0.5rem;
    color: darkgray;
    background: black;
    border: 2px solid rgb(128, 128, 128);
}
.settingsTabButton{
    width: 9rem;
    height: 1.5rem;
    margin-top: 0.5rem;
    color: darkgray;
    background: black;
    border: 2px solid rgb(128, 128, 128);
}
.settingsTabButton:hover{
    background: #222222;
}
#ordinal {
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    max-width: 100%;

    font-family: DosisSemiBold, serif;
    font-size: 1.8rem;
    background-image: linear-gradient(90deg, red, orange, yellow);
    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
    white-space: nowrap;

    margin-bottom: 1rem;
}

#ordinalContainer {
    padding: 0 20px;
    border-bottom: 1px solid gray;
    max-height: 4rem;
}

#notification{
    position: fixed;
    right: -40rem;
    background-color: #333;
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 2px solid gray;
    transition: right 0.5s ease-in-out;
    z-index: 1;
    font-family: DosisLight, serif;
}

#notification.show {
    right: 0;
}

#game{
    width: calc(100% - 32rem);
    height: 100%;
    overflow: scroll;
    position: relative;
}

#sidebar0{
    width: 11rem;
    height: 21rem;
}

#sidebar1{
    width: 20rem;
    height: 12rem;
}

#settingsNav{
    border-bottom-right-radius: 16px
}

#header{
    border-bottom-left-radius: 16px;
}

.maxMinButton{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 25px;
    background: black;
    border: 2px solid gray;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    display: none;
}

#maximizeButton{
    margin-left: 70%;
}

#cloudStatus{
    width: 29rem;
    height: 11rem;
    background: black;
    border: 2px solid #7e6085;
    color: #ae6cc5;
    text-align: center;
    place-content: center;
    font-family: DosisLight, serif;
    border-radius: 16px;
    padding: 1rem;
}