body {
    background: black;
    touch-action: pan-x pan-y;
    font-family: DosisLight, serif;
    display: flex;
    align-items: stretch;
    position: fixed;
    inset: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
}

button {
    cursor: pointer;
}

span {
    pointer-events: none;
}

a:active, a:link, a:visited {
    color: #e1e1e1;
}

#modalLayer {
    width: 99%;
    height: 99%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
}

@font-face {
    font-family: 'DosisBold';
    src: url(Dosis/static/Dosis-Bold.ttf);
}

@font-face {
    font-family: 'DosisExtraBold';
    src: url(Dosis/static/Dosis-ExtraBold.ttf);
}

@font-face {
    font-family: 'DosisExtraLight';
    src: url(Dosis/static/Dosis-ExtraLight.ttf);
}

@font-face {
    font-family: 'DosisLight';
    src: url(Dosis/static/Dosis-Light.ttf);
}

@font-face {
    font-family: 'DosisMedium';
    src: url(Dosis/static/Dosis-Medium.ttf);
}

@font-face {
    font-family: 'DosisRegular';
    src: url(Dosis/static/Dosis-Regular.ttf);
}

@font-face {
    font-family: 'DosisSemiBold';
    src: url(Dosis/static/Dosis-SemiBold.ttf);
}