.modalContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 15px;
    border: 4px solid #5d5d5d;
    text-align: center;
    background-color: #838383;
    font-family: DosisLight;
    width: 13rem;
    pointer-events: all;
}