:root {
    /* Generic, excluded from Themes */
    --generic-black: #000000FF;
    --generic-gray: #808080FF;

    /* Main */
    --main-background-color: #000000FF;

    /* Ordinal */
    --ordinal-color-one: #FF0000FF;
    --ordinal-color-two: #FFA500FF;
    --ordinal-color-three: #FFFF00FF;

    /* Nav */
    --ordinal-navigation-text-color: #CD5C5CFF;
    --markup-navigation-text-color: #DAA520FF;
    --boosters-navigation-text-color: #8080FF;
    --collapse-navigation-text-color: #80ff82;
    --realm-navigation-text-color: #ff8080;
    --obliteration-navigation-text-color: #d080ff;
    --achievement-navigation-text-color: #bdbdbd;
    --setting-navigation-text-color: #808080FF;

    /* Prestige Buttons */
    --factor-shift-button-default-text-color: #DAA520FF;
    --factor-shift-button-available-text-color: #fff480;

    --realm-factor-shift-button-default-text-color: #d93c3c;
    --realm-factor-shift-button-available-text-color: #fff480;

    --factor-boost-button-default-text-color: #8080FF;
    --factor-boost-button-available-text-color: #85edff;

    --realm-factor-boost-button-default-text-color: #ff8080;
    --realm-factor-boost-button-available-text-color: #fff480;

    --collapse-button-default-text-color: #20da45;
    --collapse-button-available-text-color: #b3ff80;

    --obliterate-button-default-text-color: #b06cdc;
    --obliterate-button-available-text-color: #ff80b9;

    /* Universal Exit Button */
    --universal-exit-button-text-color: #b1b1b1;

    /* Ordinal Buttons */
    --ordinal-button-border-color: #610000;
    --ordinal-button-background-color: #000000FF;
    --ordinal-button-text-color: #CD5C5CFF;

    /* Markup */
    --markup-tab-border-color: #785c13;
    --markup-tab-background-color: #000000FF;
    --markup-tab-text-color: #DAA520FF;

    --powers-text-color: #DAA520FF;

    --markup-button-border-color: #785c13;
    --markup-button-background-color: #000000FF;
    --markup-button-text-color: #DAA520FF;

    --mobile-shift-button-border-color: #785c13;
    --mobile-shift-button-background-color: #000000FF;
    --mobile-shift-button-text-color: #DAA520FF;

    --mobile-boost-button-border-color: #1e47d0;
    --mobile-boost-button-background-color: #000000FF;
    --mobile-boost-button-text-color: #8080FF;

    /* AutoClickers */
    --autoclicker-border-color: #9e6911;
    --autoclicker-background-color: #000000FF;
    --autoclicker-text-color: #CDA05CFF;
    --autoclicker-speed-text-color: #FF4500FF;

    /* Factors */
    --factor-border-color: #9e6911;
    --factor-background-color: #000000FF;
    --factor-text-color: #CDA05CFF;
    --factor-effect-text-color: #FFA500FF;

    /* Dynamic */
    --dynamic-text-color: #DAA520FF;

    /* Progress Bar */
    --progress-bar-background-color: #1a1a1a;
    --progress-bar-text-color: #000000FF;
    --progress-bar-fill-color: #1e47d0;

    /* Boosters */
    --boost-tab-border-color: #1e47d0;
    --boost-tab-background-color: #000000FF;
    --boost-tab-text-color: #8080FF;

    /* BUPs */
    --boosters-text-boosters-color: #8080FF;
    --boosters-text-charge-color: #DAA520FF;
    --boosters-text-boost-count-color: #8080FF;

    --unbought-BUP-border-color: #1e47d0;
    --unbought-BUP-text-color: #8080FF;
    --unbought-BUP-background-color: #000000FF;

    --bought-BUP-border-color: #1e47d0;
    --bought-BUP-text-color: #8080FF;
    --bought-BUP-background-color: #002480;

    --charged-BUP-border-color: #b27b14;
    --charged-BUP-background-color: #3b3100;
    --charged-BUP-text-color: #DAA520FF;

    --BUP-refund-border-color: #1e47d0;
    --BUP-refund-background-color: #000000FF;
    --BUP-refund-text-color: #8080FF;

    --supercharge-refund-border-color: #1e47d0;
    --supercharge-refund-background-color: #000000FF;
    --supercharge-refund-text-color: #8080FF;

    --BUP-help-text-primary-color: #565656;
    --BUP-help-text-upgrade-color: #8080FF;
    --BUP-help-text-charge-color: #DAA520FF;

    /* Automation */
    --autobuyer-border-color: #1e47d0;
    --autobuyer-background-color: #000000FF;
    --autobuyer-rate-text-color: #8080FF;
    --autobuyer-name-text-color: #80ceff;

    --autoprestiger-border-color: #2da000;
    --autoprestiger-background-color: #000000FF;
    --autoprestiger-rate-text-color: #2da000;
    --autoprestiger-name-text-color: #20da45;

    --realm-autobuyer-border-color: #9a5650;
    --realm-autobuyer-background-color: #000000FF;
    --realm-autobuyer-rate-text-color: #ff8b80;
    --realm-autobuyer-name-text-color: #ff8b80;

    --challenge-boost-text-color: #FFA500FF;

    --automation-text-neutral-color: #FFFFFFFF;

    /* Challenges */
    --incomplete-challenge-border-color: #1e47d0;
    --incomplete-challenge-background-color: #000000FF;
    --incomplete-challenge-text-color: #8080FF;

    --complete-challenge-border-color: #5e4608;
    --complete-challenge-background-color: #83620b;
    --complete-challenge-text-color: #000000FF;

    --active-challenge-border-color: #1e47d0;
    --active-challenge-background-color: #002480;
    --active-challenge-text-color: #8080FF;


    --challenge-exit-border-color: #1e47d0;
    --challenge-exit-background-color: #000000FF;
    --challenge-exit-text-color: #8080FF;

    /* Incrementy */
    --unbought-IUP-border-color: #6e3c9f;
    --unbought-IUP-background-color: #000000FF;
    --unbought-IUP-text-color: #8080FF;

    --bought-IUP-border-color: #6e3c9f;
    --bought-IUP-background-color: #180018;
    --bought-IUP-text-color: #895dc0;

    --rebuyable-IUP-border-color: #6e3c9f;
    --rebuyable-IUP-background-color: #000000FF;
    --rebuyable-IUP-text-color: #8080FF;

    --unbuyable-charge-button-border-color: #413423;
    --charge-button-background-color: #000000FF;
    --charge-button-text-color: #DAA520FF;

    --incrementy-text-color: #8080FF;
    /* --incrementy-dynamic-text-color: #DAA520FF; */
    --incrementy-help-text-color: #8080FF;

    /* Hierarchies */
    --hierarchy-text-color: #8080FF;

    --hierarchy-buyable-border-color: #414d78;
    --hierarchy-buyable-background-color: #000000FF;
    --hierachy-buyable-text-color: #8080FF;

    --hierarchy-milestone-border-color: #631d89;
    --hierarchy-milestone-background-color: #000000FF;
    --hierarchy-milestone-text-color: #a680ff;

    /* Overflow */
    --booster-power-effect-text-primary-color: #FFFFFFFF;
    --overcharge-effect-text-primary-color: #FFFFFFFF;
    --booster-power-effect-text-secondary-color: #00FFFFFF;
    --overcharge-effect-text-secondary-color: #DAA520FF;

    --booster-power-gain-text-primary-color: #FFFFFFFF;
    --booster-power-gain-text-secondary-color: #00FFFFFF;
    --overcharge-gain-text-primary-color: #FFFFFFFF;
    --overcharge-gain-text-secondary-color: #DAA520FF;

    --booster-power-total-text-color: #8080FF;
    --overcharge-total-text-color: #DA8920FF;

    --booster-power-help-text-primary-color: #FFFFFFFF;
    --booster-power-help-text-secondary-color: #8080FF;
    --overcharge-help-text-primary-color: #FFFFFFFF;
    --overcharge-help-text-secondary-color: #DAA520FF;

    /* Collapse */
    --collapse-tab-border-color: #2da000;
    --collapse-tab-background-color: #000000FF;
    --collapse-tab-text-color: #20da45;

    --darkness-navigation-border-color: #8000FF7F;
    --darkness-navigation-text-color: #9F9FCCEA;

    --purification-navigation-border-color: #8B0000FF;
    --purification-navigation-text-color: #ce0b0b;

    /* Alephs */
    --aleph-text-primary-color: #FFFFFFFF;
    --aleph-text-amount-color: #20da45;
    --aleph-text-effect-color: #20da45;

    --aleph-total-text-amount-color: #20da45;
    --aleph-total-text-effect-color: #20da45;

    --collapse-text-cardinals-color: #20da45;
    --collapse-text-best-cardinals-color: #565656;

    --mobile-collapse-button-border-color: #2da000;
    --mobile-collapse-button-background-color: #000000FF;
    --mobile-collapse-button-text-color: #20da45;

    --cardinal-collapse-button-border-color: #2da000;
    --cardinal-collapse-button-background-color: #000000FF;
    --cardinal-collapse-button-text-color: #20da45;

    --aleph-total-text-primary-color: #FFFFFFFF;
    --aleph-total-text-secondary-color: #20da45;

    --collapse-help-text-primary-color: #FFFFFFFF;
    --collapse-help-text-secondary-color: #20DA45FF;

    /* CUPs */
    --collapse-text-negative-charge-color: #9f9fcce1;

    --unbought-CUP-border-color: #2da000;
    --unbought-CUP-background-color: #000000FF;
    --unbought-CUP-text-color: #20da45;

    --bought-CUP-border-color: #2da000;
    --bought-CUP-background-color: #0e3000;
    --bought-CUP-text-color: #20da45;

    --drain-border-color: #8000ff4d;
    --drain-background-color: #000000FF;
    --drain-text-color: #9f9fcce1;

    /* Sluggish */
    --incomplete-sluggish-milestone-border-color: #154b00;
    --incomplete-sluggish-milestone-background-color: #000000FF;
    --incomplete-sluggish-milestone-text-color: #0f9329;

    --complete-sluggish-milestone-border-color: #154b00;
    --complete-sluggish-milestone-background-color: #0e3000;
    --complete-sluggish-milestone-text-color: #0f9329;

    --sluggishness-help-text-color: #0e8626;

    /* Darkness */
    --negative-charge-text-color: #8F8F97E0;

    --darkness-button-border-color: #8000ff4d;
    --darkness-button-background-color: #0D0012FF;
    --darkness-button-text-color: #9f9fcce1;
    --darkness-button-depth-effect-text-color: #887bc1;

    --depth-border-color: #26004C4C;
    --depth-background-color: #0D0012FF;
    --depth-text-color: #9f9fcce1;
    --depth-description-depth-text-color: #9e89f6;

    --dup-border-color: rgba(125, 59, 190, 0.3);
    --dup-background-color: #000000FF;
    --dup-text-color: #9f9fcce1;

    --anti-darkness-border-color: #8000ff4d;
    --anti-darkness-background-color: #12011AFF;
    --anti-darkness-text-color: #9f9fcce1;

    --darkness-control-border-color: #8000ff4d;
    --darkness-control-background-color: #000000FF;
    --darkness-control-text-color: #9f9fcce1;

    --depth-help-text-color: #C9C9F4E0;

    /* Hypercharge */
    --hypercharge-charge-text-color: #DAA520FF;
    --hypercharge-energy-text-color: #b87dd9;
    --normal-hypercharge-text-color: #8a8a8a;

    --unbought-hypercharge-border-color: #615400;
    --unbought-hypercharge-background-color: #000000FF;
    --unbought-hypercharge-text-color: #808080FF;

    --bought-hypercharge-border-color: #615400;
    --bought-hypercharge-background-color: #000000FF;
    --bought-hypercharge-text-color: #d5ad00;

    --secondary-hypercharge-border-color: #503857;
    --secondary-hypercharge-background-color: #000000FF;
    --secondary-hypercharge-text-color: #c281e5;

    --stable-hypercharge-border-color: #0e591d;
    --stable-hypercharge-background-color: #000000FF;
    --stable-hypercharge-text-color: #20da45;

    --secondary-hypercharge-cost-text-color: #a08fa2;
    --forceful-hypercharge-stabilization-cost-text-color: #a1936a;
    --forceful-hypercharge-stabilization-text-color: #7aa16a;

    --locked-passive-hypercharge-border-color: #4c6100;
    --locked-passive-hypercharge-background-color: #000000FF;
    --locked-passive-hypercharge-text-color: #808080FF;

    --unlocked-passive-hypercharge-border-color: #4c6100;
    --unlocked-passive-hypercharge-background-color: #000000FF;
    --unlocked-passive-hypercharge-text-color: #aed500;

    --hypercharge-respec-border-color: #393939;
    --hypercharge-respec-background-color: #000000FF;
    --hypercharge-respec-text-color: #777777;

    --hypercharge-charge-row-requirement-text-color: #DAA520FF;
    --locked-hypercharge-charge-row-requirement-text-color: #808080FF;
    --hypercharge-row-line-color: #393939;

    --hypercharge-help-text-primary-color: #808080FF;

    /* Baselessness */
    --aleph-null-text-primary-color: #aa6000;
    --aleph-null-text-amount-color: #ff4400;
    --aleph-null-text-effect-color: #ff4400;

    --realm-enhancement-one-text-color: #DAA520FF;
    --realm-enhancement-two-text-color: #20da45;
    --realm-enhancement-three-text-color: #b06cdc;

    --baseless-realm-control-border-color: #6d3d00;
    --baseless-realm-control-background-color: #000000FF;
    --baseless-realm-control-text-color: #ae6610;

    --baseless-realm-select-border-color: #000000FF;
    --baseless-realm-select-background-color: #000000FF;
    --baseless-realm-select-text-color: #8B0000FF;
    --baseless-realm-base-text-color: #8B0000FF;
    --baseless-realm-gain-text-color: #8B0000FF;

    --baseless-shift-border-color: #785C13FF;
    --baseless-shift-background-color: #000000FF;
    --baseless-shift-text-primary-color: #DAA520FF;
    --baseless-shift-text-shift-color: #8B0000FF;

    --aleph-null-buyable-description-text-color: #ce5c0b;

    --top-row-aleph-null-buyable-border-color: #6d3d00;
    --top-row-aleph-null-buyable-background-color: #000000FF;
    --top-row-aleph-null-buyable-text-color: #ae6610;

    --bottom-row-aleph-null-buyable-border-color: #6d3d00;
    --bottom-row-aleph-null-buyable-background-color: #000000FF;
    --bottom-row-aleph-null-buyable-text-color: #ae6610;

    --baselessness-help-text-color: #9e5803;

    /* Realms */
    --realm-tab-border-color: #a84a4a;
    --realm-tab-background-color: #000000FF;
    --realm-tab-text-color: #ce6a6a;

    /* Realm BUPs */
    --realm-boosters-text-boosters-color: #ff8080;
    --realm-boosters-text-boost-count-color: #ff8080;

    --unbought-realm-BUP-border-color: #a84a4a;
    --unbought-realm-BUP-background-color: #000000FF;
    --unbought-realm-BUP-text-color: #ce6a6a;

    --bought-realm-BUP-border-color: #a84a4a;
    --bought-realm-BUP-background-color: #250505;
    --bought-realm-BUP-text-color: #ce6a6a;

    --realm-BUP-refund-border-color: #a84a4a;
    --realm-BUP-refund-background-color: #000000FF;
    --realm-BUP-refund-text-color: #ce6a6a;

    --realm-booster-text-primary-color: #808080FF;

    --realm-boost-times-primary-color: #808080FF;

    /* Realm Challenges */
    --incomplete-realm-challenge-border-color: #a84a4a;
    --incomplete-realm-challenge-background-color: #000000FF;
    --incomplete-realm-challenge-text-color: #ce6a6a;

    --complete-realm-challenge-border-color: #5e2908;
    --complete-realm-challenge-background-color: #733209;
    --complete-realm-challenge-text-color: #000000FF;

    --active-realm-challenge-border-color: #a84a4a;
    --active-realm-challenge-background-color: #ce6a6a;
    --active-realm-challenge-text-color: #211111;

    --realm-challenge-effect-text-color: #B8860BFF;

    /* Realm Incrementy */
    --unbought-realm-IUP-border-color: #703d2b;
    --unbought-realm-IUP-background-color: #000000FF;
    --unbought-realm-IUP-text-color: #ae7b56;

    --bought-realm-IUP-border-color: #703d2b;
    --bought-realm-IUP-background-color: #1c0f00;
    --bought-realm-IUP-text-color: #9e5324;

    --rebuyable-realm-IUP-border-color: #703d2b;
    --rebuyable-realm-IUP-background-color: #000000FF;
    --rebuyable-realm-IUP-text-color: #ae7b56;

    --realm-incrementy-text-color: #FFAA86FF;
    --realm-incrementy-description-text-color: #ce856a;

    --realm-incrementy-help-text-color: #ce856a;

    /* Realm Hierarchies */
    --realm-hierarchy-text-color: #ce6a6a;

    --growth-upgrade-border-color: #a84a4a;
    --growth-upgrade-background-color: #000000FF;
    --growth-upgrade-text-color: #ce6a6a;

    --growth-input-border-color: #522525;
    --growth-input-background-color: #000000FF;
    --growth-input-text-color: #ce6a6a;

    --realm-HUP-border-color: #a8634a;
    --realm-HUP-background-color: #000000FF;
    --realm-HUP-text-color: #ce856a;

    /* Purification */
    --aleph-omega-buyable-border-color: #650000;
    --aleph-omega-buyable-background-color: #000000FF;
    --aleph-omega-buyable-primary-text-color: #ce0b0b;
    --aleph-omega-buyable-description-text-color: #ce280b;

    --locked-beth-omega-milestone-border-color: #4b001a;
    --locked-beth-omega-milestone-text-color: #b7082f;
    --locked-beth-omega-milestone-background-color: #000000FF;

    --unlocked-beth-omega-milestone-border-color: #4b001a;
    --unlocked-beth-omega-milestone-text-color: #b7082f;
    --unlocked-beth-omega-milestone-background-color: #120303;

    --obliteration-unlock-text-color: #9d58c9;

    --aleph-omega-primary-text-color: #8B0000FF;
    --aleph-omega-amount-text-color: #ff4848;
    --aleph-omega-effect-text-color: #ff4848;

    --inactive-purification-background-color: #000000FF;
    --inactive-purification-border-color: #670000;
    --inactive-purification-name-text-color: #ce0b0b;
    --inactive-purification-boost-text-color: #ce390b;
    --inactive-purification-description-text-color: #8B0000FF;
    --inactive-purification-effect-text-color: #ce460b;

    --active-purification-background-color: #120303;
    --active-purification-border-color: #670000;
    --active-purification-name-text-color: #ce0b0b;
    --active-purification-boost-text-color: #ce390b;
    --active-purification-description-text-color: #8B0000FF;
    --active-purification-effect-text-color: #ce460b;

    /* Obliteration */
    --obliteration-tab-border-color: #6b00a0;
    --obliteration-tab-background-color: #000000FF;
    --obliteration-tab-color: #b06cdc;

    --energy-text-primary-color: #ae50b4;
    --energy-text-energy-color: #d56cdc;

    /* Pringles */
    --pringle-box-border-color: #5b5b5b;
    --pringle-box-background-color: #000000BF;
    --pringle-box-normal-text-color: #FFFFFFFF;

    --unassigned-purity-point-border-color: #949494;
    --unassigned-purity-point-background-color: #000000FF;

    --pringle-background-color: #000000FF;

    --pringle-0-color: #6ba000;
    --pringle-1-color: #73af80;
    --pringle-2-color: #2da000;

    --pringle-3-color: #ae3510;
    --pringle-4-color: #ae8910;
    --pringle-5-color: #ae6610;

    --pringle-6-color: #0091a2;
    --pringle-7-color: #3e7eab;
    --pringle-8-color: #3d40fd;

    --pringle-9-color: #af1fad;

    /* Energy Tree */
    --energy-tree-respec-border-color: #4e4361;
    --energy-tree-respec-background-color: #000000FF;
    --energy-tree-respec-text-color: #808080FF;

    --energy-tree-unlocked-node-color: #996cdc;
    --energy-tree-locked-node-color: #615a6c;

    --energy-tree-node-id-text-color: #4a4a4a;
    --energy-tree-node-description-text-color: #b06cdc;
    --energy-tree-node-effect-text-color: #dc6cc6;
    --energy-tree-node-activation-text-color: #6c6c6c;
    --energy-tree-node-cost-text-color: #d56cdc;
    --energy-tree-node-prereq-text-color: #ab003d;

    /* Passive Energy */
    --passive-energy-upgrade-border-color: #6b3a9f;
    --passive-energy-upgrade-background-color: #000000FF;
    --passive-energy-upgrade-text-color: #808080FF;

    --bought-passive-energy-upgrade-border-color: #6b3a9f;
    --bought-passive-energy-upgrade-background-color: #000000FF;
    --bought-passive-energy-upgrade-text-color: #e180ff;

    --passive-energy-text-primary-color: #FFFFFFFF;
    --passive-energy-text-passive-energy-color: #bd80ff;
    --passive-energy-text-autobuyer-color: #95d0ef;
    --passive-energy-text-aleph-omega-color: #ff4848;

    --passive-energy-help-text-primary-color: #FFFFFFFF;
    --passive-energy-help-text-fractal-energy-color: #d56cdc;
    --passive-energy-help-text-passive-energy-color: #bd80ff;

    /* Stability */
    --stable-energy-button-border-color: #2d2746;
    --stable-energy-button-background-color: #000000FF;
    --stable-energy-description-text-color: #9765b2;

    --stable-energy-respec-border-color: #2d2746;
    --stable-energy-respec-background-color: #000000FF;
    --stable-energy-respec-text-color: #7d5394;

    --stable-energy-amount-text-color: #b87dd9;
    --stable-energy-special-effect-text-color: #a88fcc;
    --stable-energy-normal-effect-text-color: #a27dd9;

    /* Achievements */
    --incomplete-achievement-border-color: #464646;
    --incomplete-achievement-background-color: #151515;
    --incomplete-achievement-text-color: #9d5700;

    --complete-achievement-border-color: #DAA520FF;
    --complete-achievement-background-color: #2c4126;
    --complete-achievement-text-color: #DAA520FF;

    /* Settings */
    --setting-tab-border-color: #808080FF;
    --setting-tab-text-color: #A9A9A9FF;

    --setting-border-color: #808080FF;
    --setting-text-color: #A9A9A9FF;

    --setting-on-text-color: #2da000;
    --setting-off-text-color: #ce0b0b;

    --setting-special-text-color: #95d0ef;

    --discord-text-color: #95d0ef;

    --cloud-navigation-border-color: #7e6085;
    --cloud-navigation-text-color: #ae6cc5;

    --technical-navigation-border-color: #501900;
    --technical-navigation-text-color: #c93e00;

    --technical-warning-text-color: #8B0000FF;

    --delete-save-border-color: #563c3c;
    --delete-save-text-color: #a47575;

    --version-text-color: #009696;

    /* Notifications */
    --notification-border-color: #808080FF;
    --notification-background-color: #333;
    --notification-text-color: #FFFFFFFF;
}